[Unit]
Description=Telegram Broker Service
After=network.target

[Service]
Type=simple
User=wiraash
WorkingDirectory=/home/wiraash/broker
ExecStart=/home/wiraash/broker/broker -config /home/wiraash/broker/configs/broker.json
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/home/wiraash/broker

[Install]
WantedBy=multi-user.target
