[Unit]
Description=Telegram Broker Service
After=network.target

[Service]
Type=simple
User=wir
WorkingDirectory=/home/wir/broker
ExecStart=/home/wir/broker/broker -config /home/wir/broker/configs/broker.json
Restart=always
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/home/wir/broker

[Install]
WantedBy=multi-user.target
